.textos1{
 font-weight: bold !important;
 color: #632518 !important;

}

.imagem{
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1
    )), url(https://i.pinimg.com/originals/a0/59/bb/a059bb76d1a6df13393f45e96014a799.jpg);
    width: 1000px;
   min-height: 640px;
        }

.text-decorator-none{
    text-decoration: none ;
}

.fundo{
    background-color: white;
}

.corfonte{
    color: #e9bf5d;
   font-weight: bold !important;
}
.cadastrar{
    font-weight: bold !important;
    border-color: black !important; 
    color: #632518;
        
}


