.box1{
  background: rgb(235,207,196);
  background: linear-gradient(90deg, rgba(235,207,196,1) 0%, rgba(243,222,188,1) 30%, rgba(201,47,18,0.5270483193277311) 91%);}
.box2{
  background: rgb(235,207,196);
  background: linear-gradient(90deg, rgba(235,207,196,1) 0%, rgba(243,222,188,1) 30%, rgba(201,47,18,0.5270483193277311) 91%);
}

.redes{
    font-size: 60px;
    color: white !important;
}

.textos{
    color: white;
    text-decoration: none;
}
