.caixa {
    background: rgb(70, 7, 7);
    background: linear-gradient(90deg, rgba(70, 7, 7, 1) 0%, rgba(129, 0, 20, 1) 66%, rgba(201, 47, 18, 0.39539565826330536) 91%);
}

.titulo {
    color: white !important;
    font-weight: bold !important;
}

.botao {
    border-color: white !important;
    background-color: "#ebcfc4";
    color: white !important;
    font-weight: bold !important;
}

.postagens {
    background-color: #f3debc !important;
}